# System Files
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Environments
env/

# Input/Output Files
data/
!data/akita_evac_all.csv
!data/akita-2022-ichijoho.csv
!data/mock_employee_list.csv
maps/*.html
!maps/sample/**/*
